body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #f4f4f4;
}
.container {}


.film-container {
  cursor: pointer;
  height: 355px;
  -webkit-perspective: 600;
          perspective: 600;
  position: relative;
  
}

.film {
  height: 100%;
  
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;

}
.film:focus {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  }
.film .side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.film .back {
  background: #eaeaed;
  color: #333;
  line-height: 20px;
  padding: 24px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
